body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
  }

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 20px 25px;
    color:#FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px
}
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background: #333;
    position: absolute;
    z-index: 9999;
    display: none;
}
ul li a:hover {
    background: #112C66;
}
ul li:hover ul.dropdown {
    display: block;
}

.navbar {
    list-style-type: none;
    margin: -225;
    padding: 225;
    overflow: hidden;
    background-color: #333;
  }
  
.navbar li {
    float:none;
  }
  
.navbar li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
.navbar li a:hover {
    background-color: 	#a4b1a0;
  }

h1 {
    margin-top: 6rem;
    text-align: center;
    color: 	whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.home-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/home.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250%;
}

.issue-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/issue-image.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.routine-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/routine-image.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.products-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/products.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Product-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/temp.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.textblock {
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }

.textblock h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    font-weight: bold;
    line-height: 3em;
}

.textblock h3 {
    font-size: 16pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
    line-height: 2em;
    font-weight: normal;
}

.textblock h4 {
    font-size: 25pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
}

.textblock h5 {
    font-size: 13pt;
    text-align: left;
    line-height: 2em;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textblock h6 {
    font-size: 13pt;
    text-align: center;
    line-height: 2em;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textblock h7 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-weight: bold;
    line-height: 3em;
}

.Product-li {
    float: center;
    list-style: none;
    text-align: center;
  }
  
  .Product-li a {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 25pt;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    background-color: #a4b1a0;
    margin-top: 5px;
    border-radius: 25%;

  }
  
  /* Change the link color on hover */
  .Product-li a:hover {
    background-color:  	#adc3b7;
    color: white;
    text-align: center;
    margin-top: 5px;
    border-radius: 25%;
  }


  .photogrid {
    text-align: center;
    font-size: 55%;
    margin: 0 auto;
    padding-bottom: 100px;
 }
 
 .row {
     display: flex;
     flex-wrap: wrap;
     padding: 15px 30px;
     justify-content: center;

 }

 .column {
     flex: 25%;
     max-width: 25%;
     padding: 0 4px;

 }
 
 .column img {
     margin-top: 8px;
     vertical-align: middle;
     width: 100%;
     border: 5px solid #849d90;
 }

.Product-Info {
    padding-bottom: 3rem;
}

.Product-Info h2 {
    font-size: 24pt;
    font-weight: bold;
    text-align: left;
    padding-top: 2rem;
    padding-left: 2rem;
}

.Product-Info h3 {
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
    padding-left: 2rem;
    
}

.Product-Info li {
    font-size: 16pt;
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 1rem;
}

.issue-Info li {
    font-size: 16pt;
    font-weight: bold;
    padding-top: 3rem;
}

.routine-Info li {
    font-size: 16pt;
    font-weight: bold;
    padding-top: 5rem;
}

a {
    color: 	#849d90;
    text-decoration: none;
    font-size: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color:  	#bdc9bb;
}

footer {
    background-color: #a4b1a0;
    height: 1%;
    margin-top: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 30pt;
    vertical-align: middle;
  }